body{
	overflow-x: hidden; 
}
.header{
	width: 100%;
	padding-bottom: 10px;
}
.img-logo{
    padding-top: 18px;
}
h3.company-name{
	padding-top: 20px;
}
.nav-link{
    padding-top: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #878DA4;
}
.remarcado{
    color: #0F1C49;
    padding-top: 13px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}
.barra button{
    position: relative;
    left: 65%;
    top: 10px;
    padding: 15px;
    padding-left: 45px;
    padding-right: 45px;
    bottom: 15%;
    opacity: 0.4;
    border: 1px solid #09A4D8;
    border-radius: 4px;
    color: #09A4D8;
    background-color: #FFFFFF;
    font-family: 'Rubik';
    font-size: 14px;
}
.fondo-azul{
	top: 25px;
	width: 100%;
    position: relative;
    text-align: center;

}
.services{
    position: absolute;
    left: -23.46%;
    right: -26.46%;
    top: 38%;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 72px;
    color: #FFFFFF;
    text-align: center;
}
.services2{
    position: absolute;
    left: -12%;
    right: 1.88%;
    top: 63%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;
}
.services3{
    position: absolute;
    left: 1%;
    right: 0%;
    top: 63%;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;
}
.services4{
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8;
    left: 17.9%;
    right: 0%;
    top: 63%;
}
.circulo{
    position: absolute;
    left: 45.65%;
    top: 65.7%;
    background: #FFFFFF;
    border-radius: 8px;
}
.circulo_1{
    position: absolute;
    right: 44.5%;
    top: 65.7%;
    background: #FFFFFF;
    border-radius: 8px;
}
.espace{
    background: #FFFFFF;
    margin: 100px;
}
.chica{
    position: relative;
    text-align: center;
    width: 100%;
    align-items: center;
    left: 15%;
}
.flecha-1{
    margin-left: 75%;
    margin-top: 6px;
    position: absolute;
}
.flecha-2{
    margin-left: 75%;
    margin-top: 6px;
    position: absolute;
}
.flecha-3{
    position: absolute;
    margin-left: 75%;
    margin-top: 6px;
}
.flecha-4{
    position: absolute;
    margin-left: 75%;
    margin-top: 6px;
}
.flecha-5{
    position: absolute;
    margin-left: 75%;
    margin-top: 6px;
}
.linea-1{
    height: 1px;
    width: 310px;
    margin-left: -26%;
    margin-top: 9%;
    border-radius: 0px;
    background: rgba(233, 240, 242, 1);
}
.linea-2{
    height: 1px;
    width: 310px;
    margin-left: -28%;
    margin-top: 9%;
    border-radius: 0px;
    background: rgba(233, 240, 242, 1);
}
.linea-3{
    height: 1px;
    width: 310px;
    margin-left: -30%;
    margin-top: 9%;
    border-radius: 0px;
    background: rgba(233, 240, 242, 1);
}
.linea-4{
    height: 1px;
    width: 310px;
    margin-left: -23%;
    margin-top: 9%;
    border-radius: 0px;
    background: rgba(233, 240, 242, 1);
}
.linea-5{
    height: 1px;
    width: 310px;
    margin-left: -26%;
    margin-top: 9%;
    border-radius: 0px;
    background: rgba(233, 240, 242, 1);
}
.tabla table{
    position: absolute;
    align-items: center;
    display: flex;
    left: 120%;
    margin-top: -72%;
}
.tabla th{
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    background: #09a4d8;
    color: #FFFFFF;
    padding: 16px;
    border-radius: 16px 16px 0px 0px;
    height: 38px;
    padding-left: 8.65%;
}
.tabla tr{
    position: relative;
    width: 100%;
}
.tabla td{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #878da4;
    background: #f8f8fc;
    padding: 16px;
    text-align: left;
    padding-left: 40px;
    display: inline-flex;
    width: 390px;
}
.info{
    margin-left: 110px;
    position: relative;
    margin-top: 80px;
}
.info h2{
    color: #0f1c49;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: 38px;
    font-weight: bold;
    margin-top: 40px;
}
.info p{
    color: #878da4;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.pricing td{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #878da4;
    font-size: 16px;
    line-height: 28px;
    display: inline-block;
    align-items: center;
    text-align: center;
    padding-bottom: 17px;
}
.word{
    margin-left: 380px;
}
.word-1{
    margin-left: 365px;
}
.word-2{
    margin-left: 308px;
}
.word-3{
    margin-left: 374px;
}
.word-4{
    margin-left: 353px;
}
.word-5{
    margin-left: 373px;
}
.pricing{
    margin-top: 40px;
    position: relative;
}
.renglon{
    background: #eeeeee;
    height: 1px;
    width: 570px;
    position: relative;
    top: 42.74px;
}
.renglon-1{
    background: #eeeeee;
    height: 1px;
    width: 570px;
    position: relative;
    top: 86.98px;
}
.renglon-2{
    background: #eeeeee;
    height: 1px;
    width: 570px;
    position: relative;
    top: 129.09px;
}
.renglon-3{
    background: #eeeeee;
    height: 1px;
    width: 570px;
    position: relative;
    top: 173.27px;
}
.renglon-4{
    background: #eeeeee;
    height: 1px;
    width: 570px;
    position: absolute;
    top: 78.94%;
}
.renglon-5{
    background: #eeeeee;
    height: 1px;
    width: 570px;
    position: absolute;
    top: 98%;
}
.espace-2{
    background-color: #FFFFFF;
    margin: 100px;
}
.cont{
    padding-top: 60px;
    padding-left: 15px;
    height: 320px;
    background: #0e418a;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Rubik', serif;
    font-size: 16px;
    align-items: center;
    margin-top: 20px;
}
.info-list img{
    padding: 5px;
}
.reloj{
    width: 300px;
}
.social{
    margin-top: 15px;
    padding-left: 15px;
}
.social img{
    padding: 25px;
}
.social2{
	margin-top: -17%;
	padding-left: 30%;
}
.social3{
	margin-top: -9%;
	padding-left: 46%;
}
.column{
    padding-top: 10px;
    display: inline-block;
}
.column h5{
    font-family: 'Rubik', serif;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}
.column li{
    font-family: 'Rubik', serif;
    font-size: 16px;
    line-height: 28px;
}
.one{
    left: 310px;
    position: relative;
}
.two{
    left: 190px;
    position: relative;
}
.three{
    left: 70px;
    position: relative;
}
.cont-2{
    height: 220px;
    background: #0e418a;
    color: rgb(255, 255, 255, 0.6);
}
.line{
    text-align: center;
}
.imagen{
    padding-top: 60px;
    padding-left: 7%;
}
.col-sm-6 p{
    padding-top: 60px;
}
.letter{
    font-family: 'Rubik', serif;
	padding-top: 3%;
    padding-left: -1%;
}
.letter h6{
    font-weight: lighter;
}
.enviar p{
    color: #0E418A;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding-left: 32px;
	padding-right: 32px;
    padding: 15.5px;
    margin-left: 200px;
    bottom: 57.95px;
    text-align: center;
    position: relative;
}
.col-sm-8 {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
.col-sm-8 p{
    padding-top: 15px;
    padding-left: 22px;
    padding-right: 22px;
    margin-right: 20px;
}
.container-copy{
    height: 52px;
    padding-top: 12px;
    background: #103365;
	color: rgb(255, 255, 255, 0.6);
	font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1023px){
    .img-fluid{
        max-width: 100%;
        height: auto;
    }
    body{
    overflow-x: hidden; 
    }
    .header{
        width: 100%;
        padding-bottom: 10px;
    }
    .img-logo{
        margin-top: 2%;
        margin-left: 35%;
        padding: -1%;
    }
    .img-fluid{
        max-width: 100%;
        height: auto;
    }
    h3.company-name{
        margin-top: 15px;
    }
    .barra{
        margin-left: 35%;
    }
    .nav-link{
        text-align: center;
        margin-left: 1%;
        width: 80%;
        font-size: 15px;
    }
    .remarcado{
        width: 100%;
        text-align: center;
        margin-left: -9%;
    }
    .barra button{
        left: -20%;
        width: 125%;
        height: 40%;
    }
    .fondo-azul{
        top: 25px;
        width: 100%;
        position: relative;
        text-align: center;
    }
    .services{
        top: 42%;
        font-size: 28px;
    }
    .services2{
        margin-left: -4%;
        padding: 2%;
        font-size: 12px;
    }
    .services3{
        padding: 2%;
        font-size: 12px;
        margin-left: 1%;
    }
    .services4{
        padding: 2%;
        font-size: 12px;
        margin-left: 6%;
    }
    .circulo{
        width: .6%;
        margin-top: 2.7%;
        margin-left: -1.5%;
    }
    .circulo_1{
        width: .6%;
        margin-top: 2.7%;
        left: 57%;
    }
    .espace{
        background-color: #FFFFFF;
        margin: 10%;
        width: 100%;
    }
    .img-fluid{
        max-width: 100%;
        height: auto;
    }
    .chica{
        margin-left: 80px;
    }
    .tabla table{
        width: 100%;
        margin-top: 50%;
        text-align: center;
        margin-left: 40px;
    }
    .flecha-1{
        left: 180%;
    }
    .flecha-2{
        left: 180%;
    }
    .flecha-3{
        left: 180%;
    }
    .flecha-4{
        left: 180%;
    }
    .flecha-5{
        left: 180%;
    }
    .info{
        width: 100%;
        margin-left: 50%;
        margin-top: 140%;
    }
    .info h2{
        text-align: center;
        width: 100%;
        font-size: 26px;
        font-family: 'Rubik', sans-serif;
    }
    .info p{
        text-align: center;
        width: 100%;
        font-size: 14px;
    }
    .pricing{
        width: 100%;
        left: 20%;
    }
    .pricing td{
        width: 100%;
        margin-left: -50%;
        align-items: center;
        text-align: left;
    }
    .word{
        padding-left: 360px;
    }
    .word-1{
        padding-left: 360px;
    }
    .word-2{
        padding-left: 360px;
    }
    .word-3{
        padding-left: 360px;
    }
    .word-4{
        padding-left: 360px;
    }
    .word-5{
        padding-left: 360px;
    }
    .renglon{
        right: 210px;
        width: 185%;
    }
    .renglon-1{
        right: 210px;
        width: 185%;
    }
    .renglon-2{
        right: 210px;
        width: 185%;
    }
    .renglon-3{
        right: 210px;
        width: 185%;
    }
    .renglon-4{
        right: -68px;
        width: 170%;
    }
    .renglon-5{
        right: -68px;
        width: 170%;
    }
    .espace-2{
        background-color: #FFFFFF;
        margin: 10%;
        width: 100%;
    }
    .cont{
        height: 30%;
        width: 100%;
    }
    .social{
        width: 10%;
        margin-top: 8%;
        padding-left: 0%;
    }
    .social2{
        width: 10%;
        margin-top: -50px;
        padding-left: 44.5%;
    }
    .social3{
        width: 10%;
        margin-top: -26px;
        padding-left: 75%;
    }
    .one{
        left: 95%;
    }
    .two{
        left: 35%;
    }
    .three{
        left: 5%;
    }
    .cont-2{
        height: 30%;
    }
    .contener{
        width: 100%;
    }
    .imagen{
        margin-left: 18%;
        margin-bottom: 5%;
    }
    .line{
        padding-top: 50px;
        text-align: center;
    }
    .letter{
        text-align: center;
        width: 50%;
        margin-left: 25%;
        margin-top: -1%;
    }
    .letter h6{
        margin-bottom: 5%;
    }
    .enviar p{
        margin-top: .2%;
    }
    .container-copy{
        height: 100%;
    }
}