
@media (min-width: 320px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}

.fondo{
    background: url(../images/plantilla-1/POLO2.png);
    position: relative;
    width: 100%;
    height: 720px;
}
body{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;  
}
.header
{
	width: 100%;
	padding-bottom: 10px;
}
.img-logo{
	padding-top: 18px;
        margin-left: -1%;
        color: #ffffff;
}
h3.company-name{
    padding-top: 20px;
    color: #ffffff;
}
.nav-link
{
    padding-top: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
.button{
position: absolute;
left: 100%;
top: 15%;
bottom: 15%;
opacity: 0.1;
border: 1px solid #ffffff;
border-radius: 4px;
color: #ffffff;
}
.Text{
    color: #ffffff;
font-style: normal;
font-weight: bold;

}
.About{
    padding: 10%;
    padding-left: 0px;
    font-size: 45PX;
    left: 20%;
    position: absolute;
    top: 2%;
}
.letrita h5{
    position: absolute;
padding-left: 0%;
font-size: 12.5px;
top: 60%;
font-family: Rubik;
font-style: normal;
font-weight: normal;
opacity: 0.5;
left: 20%;
top: 50%;   
}
.gg{
    position: absolute;
    position: absolute;
width: 1%;
left: 79%;
top: 31%;
}
.vale2{
    position: absolute;
    left: 40%;
    margin-top: -26%;
}
.bg-clo2{
    position: absolute;
    left: 15%;
    top: 102.5%;
    opacity: .7;
}
.patter{
    position: absolute;
    left: 63%;
    top: 41%;
}
.bg-clo{
    position: absolute;
    left: 52%;
    top: 48%;
}
.app{
position: absolute;
padding-top: 3.5%;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 37px;
left: 63%;
top: 50%;

line-height: 48px;
color: #0F1C49;

}
.formas3{
position: absolute;
left: 58%;
width: 20.5%;
top: 62%;
}
.form-control{
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
border-radius: 4px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;

color: #878DA4;
}

.but{
    position: absolute;
background: #09A4D8;
border-radius: 4px;
color: #ffffff;
width: 100%;
height: 10%;
border-color: #ffffff;
}
.US{
    position: absolute;
    top: 141%;
    left: 47.5%;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #09A4D8;
}

.YEARS{
    position: absolute;
    top: 145%;
    left: 35%;
    font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 48px;

display: flex;
align-items: center;
text-align: center;

color: #0F1C49;
}
.sub{
    position: absolute;
    top: 153%;
    left: 35.5%;

    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14.5px;
line-height: 28px;

display: flex;
align-items: center;
text-align: center;

color: #878DA4;
right: 37%;
}
.reg{
    position: absolute;
width: 80%;
height: 1px;
left: 135px;
top: 1703px;

background: #D8D8D8;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.OUR{
    position: absolute;
width: 470px;
height: 112px;
left: 18%;
top: 190%;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;


display: flex;
align-items: center;

color: #878DA4;
}
.col-sm-6 h3{
    position: absolute;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;

top: -0%;

color: #09A4D8;
}
.prop{
    position: relative;
width: 150%;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 48px;
top: 25%;
color: #0F1C49;

}
.clir{
    position: absolute;
    width: 164%;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 28px;

color: #878DA4;
top: 125%;

}
.all{
    position: absolute;
    top: 250%;
}
.bot{
    position: absolute;
background: #09A4D8;
border-radius: 4px;
color: #ffffff;
width: 30%;
border-color: #ffffff;
height: 55%;
top: 380%;
left: 0%;
}
.path{
    position: absolute;
    top: 357%;
    left: 26%;
}
.service{
    position: absolute;
    left: 125%;
}
.col-sm-12 h3{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #09A4D8;
    
    


color: #09A4D8;
    
}
.OUR-DOCTOR{
    position: absolute;
width: 20%;
height: 24px;
left: 50%;
top: 280%;
}
.exper{
    position: absolute;
    width: 60%;
    top: 1%;
    left: -17%;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 48px;


display: flex;
align-items: center;
text-align: center;

color: #0F1C49;
}
.michael{
    
position: absolute;
left: -150%;
right: 0%;
top: 2200%;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;


display: flex;
align-items: center;

color: #0F1C49;
}
.led{
    position: absolute;
height: 24px;
left: -150%;
right: 0%;
top: 2400%;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

display: flex;
align-items: center;
letter-spacing: 1px;

color: #878DA4;
}
.wond{
 top: 600%;
    position: absolute;
    left: -155%;
}
.wan{
    position: absolute;
    top: 2450%;
    left: -67%;
}
.wonde{
    position: absolute;
    top: 850%;
    left: -73%;
}
.micha{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    
    color: #0F1C49;
}
.lod{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    
    
    color: #878DA4;
}
.lo{
    position: absolute;
    top: 294.5%;
    left: 52%;
}
.michu{
    position: absolute;
left: 70%;
right: 0%;
top: 342.5%;
bottom: 45.71%;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;

display: flex;
align-items: center;

color: #0F1C49;

}
.lot{
    position: absolute;
    top: 300%;
    left: 68.5%;
}
.clo{
    position: absolute;
left: 53.5%;
right: 0%;
top: 337%;
bottom: 45.71%;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;


display: flex;
align-items: center;

color: #0F1C49;
}
.mod{
    position: absolute;
    top: 340%;
    left: 53.5%;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

display: flex;
align-items: center;
letter-spacing: 1px;

color: #878DA4;
    
}
.lodr{
    position: absolute;
    top: 345%;
    left: 70%;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

display: flex;
align-items: center;
letter-spacing: 1px;

color: #878DA4;

}