@media (min-width: 320px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}


body{
	overflow-x: hidden;
    font-family: 'Rubik', sans-serif;  
}
.header
{
	width: 100%;
	padding-bottom: 10px;
}
.img-logo{
	padding-top: 18px;
		margin-left: -1%;
}
h3.company-name{
	padding-top: 20px;
}
.nav-link
{
    padding-top: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #878DA4;
}
.remarcado{
color: #0F1C49;
    padding-top: 13px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}
button{
position: absolute;
left: 100%;
top: 15%;
bottom: 15%;
opacity: 0.4;
border: 1px solid #09A4D8;
border-radius: 4px;
color: #09A4D8;
}
.bg{
	padding-top: 10px;
	width: 100%;
	margin-left: -5%;
	position: relative;
	text-align: center;
}
.our-docs{
position: absolute;
left: -10%;
right: -21.08%;
top: 35%;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 72px;
color: #FFFFFF;
text-align: center;
}
.our-docs2{
position: absolute;
left: -15%;
right: -21.08%;
top: 63%;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
align-items: center;
color: #FFFFFF;
}
.our-docs3{
position: absolute;
left: 0%;
right: -21.08%;
top: 63%;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
align-items: center;
color: #FFFFFF;
opacity: 0.6;
}
.ovalo{
position: absolute;
left: 55.75%;
right: 62.77%;
top: 65%;
background: #FFFFFF;
}
.contenedor{
margin-top: 4%;
width: 100;
height: 120px;
}
h3.subt{
width: 100%;
position: relative;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 48px;
align-items: center;
text-align: center;

color: #0F1C49;
}
h4.texx{
	margin-top: 1%;
position: relative;
width: 100%;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
align-items: center;
text-align: center;

color: #878DA4;
}
.care2{
top: 34px;
left: 37%;
position: relative;
width: 100%;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
align-items: center;
text-align: center;
color: #09A4D8;
}
.care{
position: relative;
width: 100%;
top: 34px;
left: 40%;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
align-items: center;
text-align: center;
color: #878DA4;
}
.care3{
position: relative;
width: 100%;
top: 34px;
left: 43%;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
align-items: center;
text-align: center;
color: #878DA4;
	}
.tab{
width: 100%;
text-align: center;
align-items: center;
position: absolute;
}
.contenidos{
	padding-left: 2.5%;
padding-top: 7%;
padding-bottom: 1%;
align-items: center;
}
.contenidos2{
padding-top: 6%;
padding-left: 2.5%;
align-items: center;
margin-bottom: 15%;
}
.lead{
	padding-left: 25%;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
align-items: center;
letter-spacing: 1px;
color: #878DA4;
}
h4.nombres2{
	padding-left: 25%;
padding-top: 5%;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 38px;
	align-items: center;
	color: #0F1C49;
}
.fondo-inferior{
	background: url(../images/plantilla-5/fofo.png);
    position: relative;
    width: 100%;
    height: 589px;
}
.inf{
	padding-top: 10%;
	font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
align-items: center;

color: rgba(255, 255, 255, 0.6);
}
p.information{
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
align-items: center;
color: rgba(255, 255, 255, 0.6);
}