

.fondo{
    background: url(../images/plantilla-1/POLO2.png);
    position: relative;
    width: 100%;
    height: 720px;
}
body{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;  
}
.header
{
	width: 100%;
	padding-bottom: 10px;
}
.img-logo{
	padding-top: 18px;
        margin-left: -1%;
        color: #ffffff;
}
h3.company-name{
    padding-top: 20px;
    color: #ffffff;
}
.nav-link
{
    padding-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
.btn-outline-light{
padding-top: 5%;
padding-left: 20%;
padding-right: 20%;
padding-bottom: 5%;
border: 1px solid #ffffff;
border-radius: 4px;
color: #ffffff;
}
.text{
    width: 100%;
    position: absolute;
    top: 27%;
    left: 20%;
}
h2.about{
font-family: 'Roboto Slab', serif;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 72px;
color: #ffffff;
}
h4.texx{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: rgba(255, 255, 255, 0.6);
padding-top: 5%;
}
.arrow{
width: 100%;
text-align: center;
position: relative;
left: 40%;
top: 20%;
}
.conte{
    width: 100%;
    position: relative;
    text-align: center;
    top: 45%;
    left: 15.75%;
}
img.bg{
    position: relative;
    top: -3.8%;
}
img.bolitas{
    position: absolute;
    top: -10%;
    left: 57.5%;
}
img.bolitas2{
    position: absolute;
    top: 59%;
    left: 0.25%;
}
.contenedor{
    margin-top: 40%;
}
.about-us{
    width: 100%;

}
h2.mangos{
text-align: center;
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #09A4D8;
width: 100%;
}
h3.we-have{
font-family: 'Roboto Slab', serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 48px;
text-align: center;
width: 100%;
color: #0F1C49;
}
.rema{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    width: 100%;
    color: #0F1C49;
}
h3.lore{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
align-items: center;
text-align: center;

color: #878DA4;
}
img.linearriba{
    position: absolute;
    width: 80%;
    text-align: center;
    align-items: center;
    left: 10.5%;
    padding-top: 7%;
    margin-bottom: 5%;
}
.contener{
    width: 100%;
    position: absolute;
    left: 10.5%;
    margin-top: 12%;
}
h2.servs{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #09A4D8;
    width: 100%;
}
h3.lore2{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #878DA4;
margin-bottom: 4%;
}
li.list{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
align-items: center;
color: #878DA4;
}
.bobo{
    margin-top: 10%;
    margin-left: 2%;
}
a.boton-serv{
background-color: #09A4D8;
color: #ffffff;
border-radius: 4px;
padding-top: 3%;
padding-bottom: 3%;
padding-left: 4%;
padding-right: 4%;
}
.puntitos{
position: absolute;
left: 6.5%;
top: 85%;
}
.cares{
    position: absolute;
    width: 100%;
    top: -2%;
}
.ojo{
    position: absolute;
}
.eye{
    position: absolute;
    top: 50%;
    left: 18%;
}
.diente{
position: absolute;
left: 48%;
top: 25%;
}

.cares2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80%;
    left: 38.5%;

}
.dental{
position: absolute;
left: 61%;
top: 77%;
}
.prima{
position: absolute;
top: 85%;
left: 0.5%;

}
.primary{
position: absolute;
top: 150%;
left: 14%;

}
.cardio{
    position: absolute;
    left: 45.5%;
}
.ours{
    width: 100%;




}
@media (min-width: 320px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
    .fondo{
        width: 100%;
        height: 550px;
	}
	.img-logo{
		padding-left: 5%;
		margin-top: -.5%;
	}
	h3.company-name{
		font-size: 26px;
        padding-top: 10%;
	}
	.nav-link{
        text-align: center;
		margin-left: 65%;
        width: 35%;
		font-size: 15px;
	}
    .btn{
        margin-left: 100%;
        margin-top: 10%;
        width: 100%;
    }
    .text{
        width: 100%;
        top: 25%;
        left: 10%;
    }
    h2.about{
        width: 100%;
        font-size: 32px;
    }
    h4.texx{
        width: 100%;
        font-size: 14px;
    }
    .arrow{
        top: -0%;
    }
    .conte{
        top: -10%;
    }
    img.silla{
        margin-left: -40%;
        width: 100%;
    }
    img.bolitas2{
        top: 27.5%;
        left: -14%;
        width: 20%;
    }
}